
<main class="perfil-visitado">
  <div class="portada">
    <img src="/uploads/portada/<%= usuario.foto_portada %>" alt="Portada">
  </div>
  <div class="foto-perfil">
    <img src="/uploads/perfil/<%= usuario.foto_perfil %>" alt="Foto de perfil">
    <h2><%= usuario.nombre %></h2>
    <!-- botón seguir o dejar de seguir -->
  </div>

  <section class="albumes">
    <% albumes.forEach(album => { %>
      <div class="album">
        <h4><%= album.titulo %></h4>
      </div>
    <% }) %>
  </section>
</main>
