.notificaciones-wrapper {
  position: relative;
}
.mini-foto {
  width: 40px;         /* Tamaño horizontal */
  height: 40px;        /* Tamaño vertical */
  border-radius: 50%;  /* Redondea los bordes para que parezca un círculo */
  object-fit: cover;   /* Ajusta la imagen para que no se deforme */
  margin-right: 8px;   /* Espacio a la derecha de la imagen */
  vertical-align: middle; /* Alinea verticalmente con el texto */
}

.notificaciones-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: 300px;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: none;
}

.notificaciones-dropdown.show {
  display: block;
}

.noti-item {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.noti-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
